run = "python main.py"
modules = ["python-3.11"]

[[ports]]
localPort = 8080
externalPort = 80

[deployment]
run = ["sh", "-c", "/nix/store/mnjsfz2lyr84m1d51pygk55i4wa1lbc3-python3-wrapper/bin/python3 $file"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
