yfinance
pandas
ta
scikit-learn
matplotlib
python-dotenv
flask
requests
jupyter
lxml
html5lib
xgboost
lightgbm
pyarrow
imbalanced-learn
joblib
numpy
gunicorn

# Phase 1 Optuna Tuning
optuna
optuna-dashboard
